<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="{{ site.baseurl }}/script/jquery-1.11.1.min.js"></script>
    <script src="{{ site.baseurl }}/script/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/script/animateHeadline.js"></script>
    <script src="{{ site.baseurl }}/script/3DHeader.js"></script>
    <!--<script src="{{ site.baseurl }}/script/index.js"></script>-->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/animateHeadline.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/3DHeader.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/animate.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body data-spy="scroll" data-target=".navbar-example">
    <header class="cd-header navbar clearfix">
      {%if page.coverImage %}
        <img class="bg" src="{{ site.baseurl }}/images/{{page.coverImage}}" />
        <div class="container">
          <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
          </a>
        </div>
      {%else%}
        <img class="bg" src="{{ site.baseurl }}/images/{{site.bg}}" />
        <div class="container">
          <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
          </a>
          
          <div class="site-info animated bounceInDown">

            <h1 class="site-name cd-headline letters type">
              <a href="{{ site.baseurl }}/">{{ site.name }}
              <p class="site-description">{{ site.description }}</p></a>
              <p class="names">with
              <span class="cd-words-wrapper waiting">
                <b class="is-visible">Luke Zhao</b>
                <b>Jerry Wei</b>
                <b>Jerry Feng</b>
                <b>Mason Zhou</b>
              </span>
              </p>
            </h1>
          </div>
          
        </div>
      {%endif%}
    </header> <!-- .cd-header -->
    
    <main>
      <div id="main" role="main" class="animated fadeIn">
        {{ content }}
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            <a href="http://www.lkz.ca/about">Luke Zhao</a> - 
            <a href="{{ site.baseurl }}/jw">Jerry Wei</a> - 
            <a href="{{ site.baseurl }}/jf">Jerry Feng</a> - 
            <a href="{{ site.baseurl }}/mz">Mason Zhou</a>
          </footer>
        </div>
      </div>
    </main>
    
    <nav class="cd-3d-nav-container">
      <ul class="cd-3d-nav">
        <li class="">
          <a href="{{ site.baseurl }}/">Logs</a>
        </li>
        <li class="">
          <a href="{{ site.baseurl }}/schedule">Schedule</a>
        </li>
      </ul> <!-- .cd-3d-nav -->

    </nav> <!-- .cd-3d-nav-container -->
    
  </body>
</html>
